.chat-container-main {
    display: flex;
}

.chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.chat-box {
    flex-grow: 1;
    background-image: url('../../images/whatsapp-web-background.png');
    overflow: scroll;
    padding-bottom: 0;
}

// chat-right-panel
.group-chat-status {
    width: $chat-group-status-bar-size;
    display: none;

    &.visible {
        display: block;
    }
}