.chat-container-main {
    display: flex;
}

.chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.chat-box {
    flex-grow: 1;
    background-image: url('../../images/whatsapp-web-background.png');
}

// add chat form
.add-chat {
    position: absolute;
    height: 100vh;
    width: $sidebar-size;
    transition: transform .3s ease-out;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    z-index: 5;

    &.hidden {
        transform: translateX(-100%);
    }

    &-header {
        display: flex;
        justify-content: flex-start;
        padding: 1.5em 2em;
        padding-top: 4em;
        background-color: $color-primary-3;
        color: #fff;

        .header {
            font-size: 2rem;
            display: flex;
        }

        .close-btn {
            background-color: transparent;
            padding: 0 1rem 0 0;
            cursor: pointer;
        }
    }
}

// chat-right-panel
.group-chat-status {
    width: $chat-group-status-bar-size;
    display: none;

    &.visible {
        display: block;
    }
}