.home {
    display: flex;
    height: 100vh;

    @include respond(tab-port) {
        flex-direction: column;
    }
}

.hero-section {
    background-image: url('../../images/bg-login.jpg');
    background-size: cover;
    padding: 5em 5.37em;
    flex: 1;

    @include respond(tab-port) {
        padding: 4em;
        padding-bottom: 2em;
    }

    @include respond(phone) {
        padding: 3em 2em;
        height: 100%;
    }
}

.login-or-signup {
    width: 35%;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
        width: 100%;
        height: 70vh;
    }
}

.tab-group {
    display: flex;
}

.tab {
    width: 100%;
    padding: 2rem 1rem;
    background-color: $color-grey-2;
    border: none;
    font-family: inherit;
    font-weight: 500;
    position: relative;
    font-size: 1.6rem;
    outline: none;

    &:hover {
        background-color: $color-grey-3;
        cursor: pointer;
    }

    &.tab-active {
        background-color: #fff;
        cursor: default;

        &::before {
            content: '';
            position: absolute;
            background-color: $color-primary-2;
            width: 100%;
            height: 5px;
            top: 0;
            left: 0;
        }
    }
}

.divider {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.8rem;
    color: $color-grey-1;
    margin-top: auto;
    margin-bottom: 1rem;

    &::before, &::after {
        content: '';
        width: 100%;
        border-bottom: 1px solid $color-grey-1;
    }

    &::before {
        margin-right: 1rem;
    }

    &::after {
        margin-left: 1rem;
    }
}

.social-login {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.social-icons {
    height: 2.7rem;
    width: 2.7rem;
    margin: 0 1rem;
}