.btn {
    border: none;
    font-family: inherit; 
    outline: none;
}

.btn-submit {
    display: inline-block;
    width: min-content;
    padding: 1em 2em;
    text-transform: uppercase;
    margin-top: 10px;
    background-color: $color-primary;
    color: #fff;
    transition: all 0.2s ease;
}

.btn-submit:hover,
.btn-submit:focus {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
}

.btn-create-room {
    font-size: 1.4rem;
    padding: 1.5rem 3rem;
    background-color: $color-primary-3;
    color: #fff;
    cursor: pointer;
    position: relative;

    &:hover {
        box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.3);
    }

    &:disabled {
        background-color: $color-grey-1;

        &:hover {
            box-shadow: none;
            cursor: not-allowed;

            &::before {
                content: "Enter the name of the room";
                position: absolute;
                background-color: #000;
                padding: 1.5rem 3rem;
                width: 100%;
                top: 0;
                left: 0;
            }
        }
    }
}

.btn-close {
    background-color: #fff;
    cursor: pointer;

    &:hover {
        background-color: red;
        color: #fff;
    }
}