.chat-heading {
    display: flex;
    align-items: center;

    padding: 1rem 1.3rem;
    background-color: $color-grey-light;
    border: 1px solid $color-grey-1;
}

.pfp {
    background-color: $color-grey-1;
    display: inline-block;
    height: $pfp-size;
    width: $pfp-size;
    border-radius: 50%;
    overflow: hidden;

    &-img {
        height: 100%;
        width: 100%;
    }

    &.pfp-md {
        height: $pfp-md;
        width: $pfp-md;
    }
}

.chat-person {
    margin-left: 1.3rem;

    &-name {
        font-weight: 500;
    }

    &-status {
        color: $color-grey-dark;
    }
}

.exit {
    margin-left: auto;
    cursor: pointer;
    
    &:hover::before {
        content: 'Exit Room?';
        width: fit-content;
        position: relative;
        bottom: 5px;
        right: 10px;
    }

    &:hover img {
        filter: invert(11%) sepia(92%) saturate(7457%) hue-rotate(1deg) brightness(108%) contrast(110%);
    }
}