.chat-panel {
    width: $sidebar-size;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &-header {
        background-color: $color-grey-light;
        padding: 1rem 1.6rem;

        display: flex;
        align-items: center;

        .pfp {
            margin-right: auto;
        }

        .btn-add-chat {
            cursor: pointer;
        }
    }

    ul {
        // padding-right: $space-scroll;
        flex: 1;
        overflow: scroll;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        width: $space-scroll;
    }
   
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $color-scroll-bar;
        border-radius: 0;
    }
}