.chat-panel {
    width: $sidebar-size;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;

    &-header {
        background-color: $color-grey-light;
        padding: 1rem 1.6rem;

        display: flex;
        align-items: center;

        .pfp {
            margin-right: 1.5rem;
        }

        .person-info {
            margin-right: auto;
        }
        
        .username {
            font-size: 1.8rem;
        }

        .email {
            font-size: 1.2rem;
        }

        .btn-add-chat {
            cursor: pointer;
        }
    }

    ul {
        // padding-right: $space-scroll;
        flex: 1;
        overflow: scroll;
    }
}