// Login and Signup forms
.form {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;

    @include respond(tab-port) {
        display: grid;
        grid-template-columns: repeat(2, auto);
        
        @supports((grid-column-gap: 1rem)) {
            grid-column-gap: 2rem;
        }
    }

    @include respond(phone) {
        display: flex;
    }
    
    .form-group {
        display: flex;
        flex-direction: column-reverse;
        margin: 10px 0;
        position: relative;
        
        &:last-of-type {
            margin-bottom: 20px;
        }
        
        @include respond(tab-port) {
            &:last-of-type {
                margin-bottom: 10px;
            }
        }
    }

    // removes autofill color
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        transition-delay: 5000s;
    }
    
    .input {
        font-size: 1.6rem;
        font-family: inherit;
        border: none;
        border-bottom: 2px solid black;
        padding: .7rem;
        outline: none;
        z-index: 1;
        background-color: transparent;
        
        &:focus {
            border-bottom: 2px solid $color-secondary;
        }
        
        &:focus + label,
        &:not(:placeholder-shown) + label {
            color: $color-secondary;
            transform: translate(-1rem, -1.75rem) scale(0.75);
        }

        & + label {
            font-size: 1.6rem;
            position: absolute;
            color: $color-form-placeholders;
            bottom: .8rem;
            left: 1rem;
            transition: transform .2s ease;
            // change transform origin for having them float to the same position
            transform-origin: 0% 0%;
        }

        &::placeholder {
            opacity: 0;
        }
    }
}

// Chat message send form
.chat-form {
    padding: 1.3rem 2rem;
    background-color: $color-grey-2;
    width: 100%;
    display: flex;

    .input-send {
        flex: 1;
        padding: 1rem 1.8rem;
        border: none;
        border-radius: 100px;
        margin-right: 1.5rem;
        outline: none;
        font-family: inherit;
    }

    .btn-send,
    .btn-attach {
        cursor: pointer;
        background-color: inherit;
        border: none;
        outline: none;

        &:disabled {
            cursor: not-allowed;

            img {
                filter: opacity(0.3);
            }
        }
    }

    .btn-attach {
        padding: 0 .5rem;
        margin: 0 1.5rem 0 0;
        border-radius: 50%;
        &:hover {
            background-color: $color-grey-1;
        }
    }

    &-search {
        .input-send {
            margin-right: 0;
        }
    }
}