.chat-list-item {
    margin: 0 1rem;
    list-style-type: none;
    display: flex;
}

.chat-message {
    margin: 5px 0;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;

    &.others { 
        background-color: #ffffff;
        border-top-left-radius: 0;
    }

    &.mine {
        background-color: #8DF7B6;
        border-bottom-right-radius: 0;
        margin-left: auto;
    }

    &-time {
        color: #777;
        font-size: 10px;
        margin-top: 2px;
        margin-left: auto;
    }
}

.msg-owner-name {
    font-size: 14px;
    font-weight: bold;
}

.chat-msg-img {
    min-width: 20rem;
    max-width: 25rem;
    min-height: 20rem;
    max-height: 25rem;
}

.file-dl {
    display: flex;
    align-items: center;
    
    padding: 1.2rem;
    border-radius: 1.2rem;

    .btn-dl {
        margin-left: 1rem;
        cursor: pointer;
    }

    &:hover {
        cursor: pointer;
    }
}

.others .file-dl {
    background-color: #f0f0f0;

    &:hover {
        background-color: #f0f0f0;
    }
}

.mine .file-dl {
    background-color: darken($color: #8DF7B6, $amount: 30%);

    &:hover {
        background-color: darken($color: #8DF7B6, $amount: 32%);
    }
}

.img-download {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: .5rem;

    .filter {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0; right: 0;
        background-color: rgba($color: #000000, $alpha: 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
        opacity: 0;

        transition: opacity .2s ease-in;
    }

    &:hover {
        .filter {
            opacity: 1;
        }

        .btn-dl {
            cursor: pointer;
        }
    }
}