.people-selected {
    padding: .5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    max-height: 15vh;
    overflow: scroll;

    &.no-badges {
        padding: 0;
        height: 0;
    }
}

.badge {
    background-color: $color-grey-1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding-left: .8rem;
    margin: .7rem .3rem;
    
    .btn-close-badge {
        border-radius: 1rem;
        height: 2rem;
        width: 2rem;
        line-height: 2rem;
        margin-left: .4rem;
        cursor: pointer;
    }
}