.share-panel, .dragover {
  position: absolute;
  width: 100%;
  top: 6.5rem;
  bottom: 0;
  z-index: 5;

  display: flex;
  flex-direction: column;

  &-header {
    background-color: $color-primary-3;
    color: #fff;
    padding: 1.4rem;
    display: flex;
    font-size: 1.8rem;

    .btn-close-preview {
      background-color: inherit;
      margin: 0 2rem 0 1.4rem;
      color: rgba($color: #fff, $alpha: 0.6);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-middle {
    flex: 1;
    background-color: $color-grey-2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .file-preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 20rem;
      text-align: center;

      p {
        margin-top: 2rem;
      }
    }

    .chat-panel-img {
      width: auto;
      height: auto;
      max-width: 38rem;
      max-height: 38rem;

      &.smol {
        width: 5rem;
        height: 5rem;
      }
    }
  }

  &-footer {
    background-color: $color-grey-1;
    height: 10rem;

    display: flex;
    justify-content: center;

    .file-icon {
      width: 7rem;
      height: 7rem;
      padding: 1.5rem;
      background-color: $color-grey-4;
    }

    .img-box {
      width: 7rem;
      height: 7rem;
      overflow: hidden;

      position: relative;
      margin: 1rem;
      cursor: pointer;

      & > .close {
        display: none;
        position: absolute;
        color: #fff;
        top: .1rem;
        right: .4rem;
      }

      &:hover {
        .close {
          display: block;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 60%;
          left: 0; 
          right: 0;
          background-image: linear-gradient(rgba($color: #000, $alpha: 0.4), transparent);
        }
      }
      
      display: flex;
      align-items: center;
      justify-content: center;
      
      &.selected {
        border: 3px solid #fff;
      }
      
      &.add {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        color: $color-blue;
        
        .plus {
          font-size: 4rem;
          margin: -.5rem;
        }
        
        .name {
          font-size: 1rem;
        }
      }
      
      img {
        display: block;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }
}

.dragover-body {
  background-color: $opaqueWhite;
  background-image: linear-gradient(to bottom, $opaqueWhite, $opaqueWhite);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  outline: 4px dashed $color-form-placeholders;
  outline-offset: -30px;
}

.upload-img {
  height: 100px;
  margin-bottom: 2rem;
}