.typing {
    color: darken($color-secondary, 30%) !important;
}

.custom-scroll {
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        width: $space-scroll;
    }
   
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $color-scroll-bar;
        border-radius: 0;
    }
}

.custom-dropdown {
    
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 50%;

    &, &.hidden:hover {
        background-color: $color-grey-1;
    }

    img {
        vertical-align: middle;
        display: inline-block;
    }

    .list {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: max-content;
        box-shadow: 0 0 3px $color-grey-dark;
        top: 6rem;
        right: 2rem;

        z-index: 100;

        button {
            border: none;
            background-color: $color-light-primary;
            padding: 1em;
            font-size: 1.6rem;
            text-align: left;
            cursor: pointer;

            &:hover {
                background-color: $color-grey-3;
            }
        }
    }

    &.hidden {
        background-color: inherit;

        .list {
            display: none;
        }
    }
}

.err-box {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 4rem;
    left: 3rem;
    width: 40rem;
    height: fit-content;
    background-color: #fff;
    border: 4px solid $color-grey-1;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;

    // hide the box
    transform: translateY(4rem);
    opacity: 0;
    transition: .2s all ease-in-out;

    @include respond(tab-port) {
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        transform: none;
        display: none;

        &-filter {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);

            &.visible {
                display: block;
            }
        }
    }


    &.visible {
        transform: none;
        opacity: 1;
        display: flex;
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .5rem;
    }

    .middle {
        display: flex;

        .err-status {
            margin-right: 1rem;
            font-weight: 500;
        }
    }

    .errors {
        margin-top: .5rem;
    }

    .err-message + .err-message {
        margin-top: 1rem;
    }

    .close {
        padding: .5rem .7rem;
        font-size: inherit;
    }

    button {
        font-family: inherit;
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
    }
}

.err-text {
    color: red;
}

.pfp {
    background-color: $color-grey-1;
    display: inline-block;
    height: $pfp-size;
    width: $pfp-size;
    border-radius: 50%;
    overflow: hidden;

    &-img {
        height: 100%;
        width: 100%;
    }

    &.pfp-md {
        height: $pfp-md;
        width: $pfp-md;
    }

    &.pfp-xl {
        height: $pfp-xl;
        width: $pfp-xl;
    }

    &.pfp-input {
        position: relative;
        .take-photo-filter {
            display: none;
        }

        cursor: pointer;

        &:hover .take-photo-filter,
        .take-photo-filter.visible {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            color: #fff;
        }

        .images {
            display: flex;
            justify-content: space-evenly;
            width: 8rem;
        }

        .camera, .bin {
            height: 30px;
            width: 30px;
            margin-bottom: .5rem;
            filter: invert(100%);
        }

        .bin {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(101%) contrast(104%);
            
            &:hover {
                filter: invert(13%) sepia(87%) saturate(7205%) hue-rotate(7deg) brightness(112%) contrast(124%);
            }
        }
    }
}