// light colors
$color-light-primary: #fff;
$color-grey-1: #c7c7c7;
$color-grey-2: #e8e8e8;
$color-grey-3: #f1f1f1;
$color-grey-light: #EDEDED;
$color-grey-dark: #767676;

// primary colors
$color-primary: #295F61;
$color-primary-2: #547F81;

// secondary colors
$color-secondary: #00FF38;

// misc. colors
$color-form-placeholders: #959595;


// lengths
// profile pic size:
$pfp-size: 3.9rem;